{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通知管理</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <h1>通知管理</h1>
        <p>
        {% if gakugun != '未設定' %}
            あなたは「{{ gakugun }}」として登録されています．
        {% else %}
            あなたの学群はまだ登録されていません．
        {% endif %}
        </p>
        <hr>
        <div style="text-align: center;">
            <a href="https://www.aplus-tsukuba.net/">A+つくば</a>
        </div>

        <script src="{% static 'app/notice_manage.js' %}"></script>
</html>