{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>通知管理</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <h1>通知管理</h1>
        <p>
        {% if gakugun != '未設定' %}
            あなたは「{{ gakugun }}」として登録されています。
        {% else %}
            あなたの学群はまだ登録されていません。
        {% endif %}
        </p>
        <ul>
            <li><a href="{% url 'register_affiliation' %}">学群を登録・変更する（通知を一括で受け取る）</a></li>
            <li><a href="#" onclick="confirmUnsubscribeAllThreads()">すべてのスレッドで通知を解除する</a></li>
        </ul>
        <!-- 購読全解除用隠しform CSRF対策用 -->
        <form id="unsubscribe-all" method="post" action="{% url 'unsubscribe_all' %}">
            {% csrf_token %}
            <button id="unsubscribe_btn" type="submit" style="display: none;"></button>
        </form>
        <!-- form 終わり -->
        <p>
            現在{{ num_threads }}件のスレッドで通知を受け取っています。
        </p>
        <hr>
        <div style="text-align: center;">
            <a href="https://www.aplus-tsukuba.net/">A+つくば</a>
        </div>

        <script src="{% static 'app/notice_manage.js' %}"></script>
</html>